{
  "mail": {
    "server": "localhost",
    "port": 25,
    "from": {
      "name": "logwatcher",
      "mail": "a@a.com"
    },
    "to": ["bbb@bbb.com", "ccc@ccc.com"],
    "skiptls": true,
    "user": "",
    "password": "",
    "retries": 5,
    "sleep": "1s"
  },
  "file": "/var/log/messages",
  "watches": [
    "match1",
    "match2",
    "match3"
  ]
}
