{
  "mail": {
    "server": "localhost",
    "port": 25,
    "from": {
      "name": "logwatcher",
      "mail": "a@a.com"
    },
    "to": ["bbb@bbb.com", "ccc@ccc.com"],
    "skiptls": true,
    "user": "",
    "pass": ""
  },
  "files": [{
      "file": "/var/log/messages",
      "strings": [
        "match1",
        "match2",
        "match3"
      ]
    },
    {
      "file": "/var/log/mail.log",
      "strings": [
        "match1",
        "match2",
        "match3"
      ]
    }
  ],
  "systemd": [{
      "unitfile": "postfix.service",
      "strings": [
        "match1",
        "match2",
        "match3"
      ]
    },
    {
      "unitfile": "named.service",
      "strings": [
        "match1",
        "match2",
        "match3"
      ]
    }
  ]
}